@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 8px;
}
a{
  text-decoration: none;
  color: gray;
}
.header,.footer{
  display: flex;
  padding: 10px;
}
.right-links{
  margin-left:auto;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}
.input{
  margin-top: 10px;
}
.buttons{
   margin-top: 10px;
}
.footer{
  margin-top: auto;
  background-color: #eeeeee;
}