/* Add CSS Styling */
/* All odd numbered elements**: a light red/pink background, and a list of fonts containing `Verdana` and `DejaVu Sans` with `sans-serif` as a fallback */
.odd{
    background-color: #FF66FF;
    font-family: Verdana,"DejaVu Sans",sans-serif ;
}
/* **The third element**: in addition to the styles for all odd numbered elements, add a font size of 24px */
.odd.cooler{
    font-size: 24px;
}
/* **The second element**: blue text and a font size of 36px */
#one{
    color: #0000FF;
    font-size: 36px;
}
/* **The fourth element**: a light green background, a font size of 24px, and bold */ 
#two{
    background-color: #339966;
    font-size: 24px;
    font-weight: bold;
}
